:root {
  // Primary
  --back: #fffcf8;
  --soft-red: #fe7766;
  --yellow: #fad400;
  --dark-desaturated-cyan: #24554a;
  --dark-blue: #19536c;
  --dark-moderate-cyan: #458d7e;
  --bark-green: #90d4c6;
  --green-logo: #2c7566;

  // Neutral
  --desaturated-blue: #24303e;
  --very-dark-grayish-blue: #5b636d;
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: #a7aaad;
  --white: hsl(0, 0%, 100%);
}

.content-wrapper {
  width: 327px;
  margin: 0 auto;
}

.large-wrapper {
  width: 375px;
  margin: 0 auto;
}

body {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.128571px;
  background: #f2f2f2;
  color: var(--dark-grayish-blue);
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 6.25px;
  color: var(--white);
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.228571px;
  color: var(--desaturated-blue);
  margin: 0;
}

h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 4px;
  color: var(--grayish-blue);
  text-transform: uppercase;
  margin: 0;
}

h4 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: -0.2;
  margin: 0;
}

h5 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.128571px;
  color: var(--desaturated-blue);
  margin: 0;
}

h6 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.1px;
  color: var(--grayish-blue);
  margin: 0;
}

.cta {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
}

/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  .content-wrapper {
    width: 1352px;
  }

  .large-wrapper {
    width: 1440px;
  }

  h1 {
    font-size: 56px;
    line-height: 69px;
    letter-spacing: 8.75px;
  }

  h2 {
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.285714px;
  }

  h3 {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 5px;
  }
}
