#second {
  .in-section {
    padding-top: 64px;
    padding-bottom: 86px;
    text-align: center;
    background: var(--back);

    .cards {
      display: grid;
      grid-template-columns: 1fr;
      gap: 64px;
      padding-top: 64px;

      .card {
        img {
          width: 72px;
          height: 72px;
          border-radius: 50%;
        }

        p {
          margin: 32px 0;
          color: var(--very-dark-grayish-blue);
        }

        h5 {
          margin-bottom: 9px;
        }
      }
    }
  }
}

/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  #second {
    .in-section {
      padding-top: 160px;
      padding-bottom: 160px;

      .cards {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        gap: 30px;
        padding: 81px 121px 0;

        .card {
          p {
            margin: 58px 0 69px;
            color: var(--very-dark-grayish-blue);
          }
        }
      }
    }
  }
}
